<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Salt</a>
  </div>
  
  <ul class="nav navbar-nav navbar-right">
    <li><a href="">Work</a>
    <li><a href="">About</a>
    <li><a href="">Contact</a>
  </ul>
  </div>
</nav>
<div class="jumbotron">
  <h1>My First Rails App!</h1>
  <p><a class="btn btn-danger btn-lg" href="#" role="button">View my Work</a></p>
</div>

<footer class="footer">
  <ul class="social-link">
    <li><a class="btn-github" href="" target="_blank">Github</a></li>
    <li><a class="btn-twitter" href="" target="_blank">Twitter</a></li>
    <li><a class="btn-facebook" href="" target="_blank">Facebook</a></li>
  </ul>
  <p>2016 Luffy Wang All rights reserved.</p>
</footer>